# Git
.git
.gitignore

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Python build
build/
dist/
*.egg-info/

# Logs
*.log

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Test
tests/
pytest_cache/

# Docker
Dockerfile
docker-compose.yml
docker-compose.override.yml

# Model
*.pt
*.pth
*.bin
*.ckpt
*.h5

# Data
data/
datasets/
tmp/

# Huggingface cache
.cache/
huggingface/